/* You can add global styles to this file, and also import other style files */


.nobullets {
    list-style-type: none;
   }

#tka-tooltip {
    position: absolute;
  }

#tka-tooltip + .tooltip {
    pointer-events: none;
  }
